
.form_titulo{
    background: deepskyblue;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 3px solid darkred;
}

.columna
{
    float:right;
    margin: 10px 0px;
    padding: 20px;
    text-align:right;

}

body
{
    margin: 0;
    background-color: #0000;
    font-family: Arial;
}

foot
{
    text-align: center;
}

h1
{
  color:crimson
}

.bigbox
{
    width: 95% ;
    max-width: 500px;
    margin: auto;
    border-radius: 7px;

}

.littlebox
{
    width: 200px;
    margin: auto;
}

.input-48
{
    width: 48%;
}

.input-100
{
    width: 100%;
}


@media screen and (max-width:1920px)
{
    aside{
        float: right;
        width: 10%;
    }
    section{
        float: left;
        width: 75%;
    }
}

@media screen and (max-width:1024px)
{
    aside{
        float: right;
        margin: 0 1.5%;
        width: 15%;
    }
    section{
        float: left;
        margin: 0 1.5%;
        width 75%;
    }
    nav{}
}

@media screen and (max-width:480px){
    aside{
        float: right;
        margin: 0 1.5%;
        width: 20%;
    }
    section{
        float: left;
        margin: 0 1.5%;
        width: 35%;
    }
}



