.bigbox
 {
     width: 700px;
     max-width: 8000px;
     max-height: 800px;
     height: 600px;
     margin: 30px;
     background: grey;

 }

.header
 {
    margin: 0px 0;
    background: orange;
    padding: 10px 0;
    text-align: center;
 }

.img
{
    margin: 0px 0;

}

.body
{
    background: white;
    font-family: Arial;
    align-content: center;
}

.foot
{
    text-align: center;
}
.centrado
{
    margin-left: auto;
    margin-right: auto;
}
