header
 {
    background: #81BEF7;
    padding: 20px;
     width: 500px;
     height: auto;
     text-align: center;
 }

body
{
   background-color: #0000;
    font-family: Arial;
}

foot
{
    text-align: center;
}

responsive
{
    width: 100%;
    height:420px
}

h1
{
  color:crimson
}

.bigbox
{
    width: 500px;
    padding: 20px;
    text-align: center;
}

.middlebox
{

}

.littlebox
{
    width: 200px;
    text-align: left;
}

.photo
{
    width: 500px;
    padding: 20px;
}


